# GCP Service Account Key
gcp-sa-key.json
*.json

# Setup Scripts
setup-github-secret.ps1

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars.backup
.terraform.tfstate.lock.info
terraform/tools/
